name: Build and Push Docker Image

# Trigger workflow on any push to any branch
on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_SIMPLEDOTORG_USERNAME }}
          password: ${{ secrets.DOCKERHUB_SIMPLEDOTORG_ACCESS_TOCKEN }}
      - name: Build Docker Image
        run: |
          cd docker_build
          docker compose --project-name heart360tk build

      - name: Tag Docker Image
        run: |
          cd .github/workflows
          bash dockertag.sh

      - name: Push Docker images (all tags)
        run: |
          cd .github/workflows
          bash dockerpush.sh